* {
	box-sizing: border-box;
}

:root {
	--fondoPrimario: #FCF7F8;
	--colorOscuro: #1A1E21;
	--azul: #3895ec;
}

body {
	background: var(--fondoPrimario);
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

ul {
	margin: 0;
}

.contenedor {
	max-width: 500px;
	width: 90%;
	padding: 30px;
	border-radius: 20px;
}

.titulo {
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	color: var(--colorOscuro);
	margin-bottom: 20px;
}

.grupo {
	padding: 60px 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

label {
	display: block;
	margin-bottom: 10px;
}

.grupo div p,
.grupo div div,
.grupo div span,
.grupo ul li {
	background: #dbdbdb;
	padding: 10px;
}

/* ? ------------- PSEUDO-CLASES ------------- */
.enlace:active {
	background: #961414;
}

.enlace:link {
	color: rgb(13, 13, 133);
}

.enlace:visited {
	color: #acd30e;
}

.enlace:hover {
	color: rgb(247, 0, 255);
}


/* ? --- --- --- --- PARRAFOS --- --- --- --- */
.parrafos p:first-child {
	background: var(--azul);
	color: #02ff67;
}

.parrafos p:last-child {
	background: #a3083b;
	color: #ee6e13;
}


/* ? --- --- --- --- ELEMENTOS --- --- --- --- */
.elementos p:first-of-type {
	background: var(--azul);
	color: #02ff67;
}

.elementos div:last-of-type {
	background: #a3083b;
	color: #ee6e13;
}


/* ? --- --- --- --- LISTA --- --- --- --- */
.lista :nth-child(5){
	background: var(--azul);
	color: #02ff67;
}

.lista :nth-last-child(5){
	background: #a3083b;
	color: #ee6e13;
}



/* ? --- --- --- --- LISTA 2 --- --- --- --- */
.lista2 p:nth-of-type(1) {
	background: var(--azul);
	color: #02ff67;
}

.lista2 div:nth-last-of-type(1) {
	background: #a3083b;
	color: #ee6e13;
}


/* ? --- --- --- --- LISTA 3 --- --- --- --- */
.lista3 p:only-child {
	background: var(--azul);
	color: #02ff67;
}


/* ? --- --- --- --- LISTA 4 --- --- --- --- */
.lista4 p:only-of-type {
	background: #a3083b;
	color: #ee6e13;
}